svg{
    height: 100px;
    width: 100px;
     
}



img {
    height: 100px;
    width: 100px;

}
ul{
    list-style: none;
    background-color: rgb(71, 71, 71);
    
    
}
 
.panel{
    width: 100px;
    background-color:grey;
    margin-left:20px;
}
.drawArea{
    border: 1px black solid;
    background-color:palegreen;
    width: 80% ;
}
.draw{
    display: block;
}



.container{
    border: 1px black solid;
    margin: 100px auto;
    
}