#host123,#svg13653{
    height: 100px;
    width: 100px;
     
}

ul{
    list-style: none;
    background-color: rgb(71, 71, 71);  
    
}
 #draw{
     height:100%;
     width: 500px;
 }


.container{
    border: 1px black solid;
    margin: 10px auto;
    
}